{% extends "_base.html" %}

{% load i18n %}


{% block page_title %}{% trans 'Complete' %}{% endblock page_title %}

{% block page_content %}
    <div class="my-5">
        <div class="container">
            <div class="row">
                {% for message in messages %}
                    <p class="alert alert-{{ message.tags }} d-flex align-items-center justify-content-between">
                    <span>{{ message }}</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </p>
                {% endfor %}

                <div>
                    <a class="text-decoration-none" href="{% url 'pages:home' %}">{% trans "Back to home" %}</a> |
                    <a class="text-decoration-none" href="{% url 'accounts:login' %}">{% trans "Login to account" %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
