{% extends "_base.html" %}

{% load i18n %}


{% block page_title %}{% trans 'Password Reset' %}{% endblock page_title %}

{% block page_content %}
    <div class="my-5">
        <div class="container">
            <div class="row">
                {% for message in messages %}
                    <p class="alert alert-{{ message.tags }}">{{ message }}</p>
                {% endfor %}

                <form action="" method="post">
                    {% csrf_token %}
                    <div class="d-flex flex-column mb-3">
                        <label class="form-label" for="id_email">{{ form.email.label }}:</label>
                        {{ form.email }}
                        {% for error in form.email.errors %}
                            <p class="alert alert-danger mt-2">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <button class="btn btn-primary" type="submit">{% trans 'Send' %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock page_content %}
