{% extends "_base.html" %}

{% load i18n %}


{% block page_title %}{% trans 'Register' %}{% endblock page_title %}

{% block page_content %}
    <div class="my-5">
        <div class="container">
            <div class="row">
                {% for message in messages %}
                    <p class="alert alert-{{ message.tags }}">{{ message }}</p>
                {% endfor %}

                <form action="" method="post">
                    {% csrf_token %}
                    <div class="d-flex flex-column mb-3">
                        <label class="form-label" for="id_email">{{ form.email.label }}:</label>
                        {{ form.email }}
                        {% for error in form.email.errors %}
                            <p class="alert alert-danger mt-2">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="d-flex flex-column mb-3">
                        <label class="form-label" for="id_username">{{ form.username.label }}:</label>
                        {{ form.username }}
                        {% for error in form.username.errors %}
                            <p class="alert alert-danger mt-2">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="d-flex flex-column mb-3">
                        <label class="form-label" for="id_first_name">{{ form.first_name.label }}:</label>
                        {{ form.first_name }}
                        {% for error in form.first_name.errors %}
                            <p class="alert alert-danger mt-2">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="d-flex flex-column mb-3">
                        <label class="form-label" for="id_last_name">{{ form.last_name.label }}:</label>
                        {{ form.last_name }}
                        {% for error in form.last_name.errors %}
                            <p class="alert alert-danger mt-2">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="d-flex flex-column mb-3">
                        <label class="form-label" for="id_phone">{{ form.phone.label }}:</label>
                        {{ form.phone }}
                        {% for error in form.phone.errors %}
                            <p class="alert alert-danger mt-2">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="d-flex flex-column mb-3">
                        <label class="form-label" for="id_birth_date">{{ form.birth_date.label }}:</label>
                        {{ form.birth_date }}
                        {% for error in form.birth_date.errors %}
                            <p class="alert alert-danger mt-2">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="d-flex flex-column mb-3">
                        <label class="form-label" for="id_password1">{{ form.password1.label }}:</label>
                        {{ form.password1 }}
                        {% for error in form.password1.errors %}
                            <p class="alert alert-danger mt-2">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="d-flex flex-column mb-3">
                        <label class="form-label" for="id_password2">{{ form.password2.label }}:</label>
                        {{ form.password2 }}
                        {% for error in form.password2.errors %}
                            <p class="alert alert-danger mt-2">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <button class="btn btn-primary" type="submit">{% trans 'Register' %}</button>
                        <a class="text-decoration-none" href="{% url 'accounts:login' %}">{% trans 'Login' %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock page_content %}
