{% extends "_base.html" %}

{% load i18n %}


{% block page_title %}{% trans 'Home' %}{% endblock page_title %}

{% block page_content %}
    <div>
        <div class="container">
            <div class="row">
                {% for message in messages %}
                    <p class="alert alert-{{ message.tags }}">{{ message }}</p>
                {% endfor %}

                <h2>{% trans 'Home' %}</h2>
                <div>
                    {% if user.is_authenticated %}
                        <span>{% trans 'Welcome' %} {{ user.email }}</span> |
                        <a class="text-decoration-none"
                           href="{% url 'profiles:profile_page' %}">{% trans 'Profile' %}</a> |
                        <a class="text-decoration-none"
                           href="{% url 'accounts:password_change' %}">{% trans 'Change password' %}</a> |
                        <a class="text-decoration-none"
                           href="{% url 'accounts:logout' %}">{% trans 'Logout of account' %}</a>
                    {% else %}
                        <a class="text-decoration-none"
                           href="{% url 'accounts:login' %}">{% trans 'Login to account' %}</a> |
                        <a class="text-decoration-none"
                           href="{% url 'accounts:register' %}">{% trans 'Register an account' %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
