{% load i18n %}
{% load products_tags %}

<div class="btn-group">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            data-bs-auto-close="outside" aria-expanded="false">
        {% trans "categories" %}
    </button>
    <ul class="dropdown-menu">
        {% for category in categories %}
            {% if not category.parent %}
                {% trans category.category_name as category_name %}
                <li>
                {% if category.sub_categories.all %}
                    <a class="dropdown-item" href="{% url 'products:product_category' category.category_name %}">{{ category_name|replace_dash_with_space_category_name }} &raquo</a>
                    {% include "products/sub_categories.html" with category=category %}
                {% else %}
                    <a class="dropdown-item" href="{% url 'products:product_sub_category_list' category.category_name %}">{{ category_name|replace_dash_with_space_category_name }}</a>
                {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
