{% extends "_base.html" %}

{% load i18n %}
{% load products_tags %}


{% block page_title %}{% trans title %}{% endblock page_title %}

{% block page_content %}
    <div>
        <div class="container">
            <div class="row">
                {% for message in messages %}
                    <p class="alert alert-{{ message.tags }}">{{ message }}</p>
                {% endfor %}

                <div>
                    {% for sub_category in sub_categories %}
                        {% trans sub_category.category_name as category_name %}
                        <p class="my-2">
                            {% if sub_category.sub_categories.exists %}
                                <a href="{% url 'products:product_category' sub_category.category_name %}"
                                   class="text-decoration-none">{{ category_name|replace_dash_with_space_category_name }}</a>
                            {% else %}
                                <a href="{% url 'products:product_sub_category_list' sub_category.category_name %}"
                                   class="text-decoration-none">{{ category_name|replace_dash_with_space_category_name }}</a>
                            {% endif %}
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
