{% extends "_base.html" %}

{% load i18n %}
{% load price_conversion_tags %}
{% load humanize %}
{% get_current_language as LANGUAGE_CODE %}


{% block page_title %}{% trans category_name %}{% endblock page_title %}

{% block page_content %}
    <div>
        <div class="container">
            <div class="row">
                {% for message in messages %}
                    <p class="alert alert-{{ message.tags }}">{{ message }}</p>
                {% endfor %}

                {% if products %}
                    {% for product in products %}
                        <div class="col-12 col-md-4 my-3">
                            <div class="card p-3 h-100">
                                <a href="{{ product.get_absolute_url }}" class="d-flex justify-content-center">
                                    <figure style="width: 240px;height: 240px">
                                        <img class="w-100 h-100 d-block" src="{{ product.images.all.0.image.url }}"
                                             alt="">
                                    </figure>
                                </a>
                                <a href="{{ product.get_absolute_url }}"
                                   class="d-flex text-center text-decoration-none flex-grow-1 my-3">{{ product.title }}
                                </a>
                                <span style="font-size: 17px" class="d-flex justify-content-end fw-bold">
                                    {% if LANGUAGE_CODE == "en" %}
                                        {% trans "$" %}{{ product.price|convert_price_to_dollar|intword }}
                                    {% elif LANGUAGE_CODE == "fa" %}
                                        {{ product.price|convert_english_number_to_persian|intcomma:False }}
                                        {% trans "$" %}
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="alert alert-info">{% trans "There aren't any product." %}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock page_content %}
