{% extends "_base.html" %}

{% load i18n %}
{% load price_conversion_tags %}
{% load humanize %}
{% get_current_language as LANGUAGE_CODE %}
{% load jalali_tags %}
{% load products_tags %}
{% load static %}


{% block page_title %}{% trans product.title %}{% endblock page_title %}

{% block page_content %}
    <div>
        <div class="container">
            <div class="row">
                {% for message in messages %}
                    <p class="alert alert-{{ message.tags }} d-flex align-items-center justify-content-between">
                        <span>{{ message }}</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </p>
                {% endfor %}

                <div class="col-12 my-3">
                    <div class="d-flex">
                        <div style="width: 50%;" id="carouselExampleIndicators" class="carousel slide">
                            <div class="carousel-indicators">
                                {% for slider in product.images.all %}
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="{{ forloop.counter0 }}"
                                            class="bg-danger {% if forloop.first %}active{% endif %}"></button>
                                {% endfor %}
                            </div>
                            <div class="carousel-inner">
                                {% for slider in product.images.all %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <img src="{{ slider.image.url }}" class="d-block w-100 object-fit-cover">
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="bg-danger d-flex rounded-circle p-2">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="bg-danger d-flex rounded-circle p-2">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="px-3 py-5 fs-5 fw-bold d-flex flex-column flex-grow-1">
                            <span>{{ product.title }}</span>
                            {% if product.color.count %}
                                <div class="d-flex align-items-center mt-4">
                                    {% if product.color.count > 1 %}
                                        <span>{% trans "Colors:" %}</span>
                                    {% else %}
                                        <span>{% trans "Color:" %}</span>
                                    {% endif %}
                                    <ul class="d-flex align-items-center">
                                        {% for color in product.color.all %}
                                            <li class="ps-2">{% trans color.color_name %}</li>
                                            {% if not forloop.last %}{% trans "," %} {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if product.size.count %}
                                <div class="d-flex align-items-center mt-4">
                                    {% if product.size.count > 1 %}
                                        <span>{% trans "Sizes:" %}</span>
                                    {% else %}
                                        <span>{% trans "Size:" %}</span>
                                    {% endif %}
                                    <ul class="d-flex align-items-center">
                                        {% for size in product.size.all %}
                                            <li class="ps-2">{% trans size.size_name %}</li>
                                            {% if not forloop.last %}{% trans "," %} {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="d-flex align-items center mt-4">
                                {% if comments.count > 0 %}
                                    <a style="font-size: 14px;color: #27bae9" href="#comments"
                                       class="text-decoration-none">{{ comments.count }} {% trans "Comment" %}</a>
                                {% endif %}
                                {% if questions.count > 0 %}
                                    <a style="font-size: 14px;color: #27bae9" href="#questions"
                                       class="ms-2 text-decoration-none">{{ questions.count }} {% trans "Question" %}</a>
                                {% endif %}
                            </div>
                            <div class="fs-4 d-flex justify-content-end fw-bold mt-auto">
                                <span class="w-75 align-self-end">
                                    {% if LANGUAGE_CODE == "en" %}
                                        {% trans "$" %}{{ product.price|convert_price_to_dollar|intword }}
                                    {% elif LANGUAGE_CODE == "fa" %}
                                        {{ product.price|convert_english_number_to_persian|intcomma:False }}
                                        {% trans "$" %}
                                    {% endif %}
                                </span>
                                <div id="wrapperAddToCartForm" class="w-25">
                                    {% if not is_exist_product_in_cart %}
                                        <button id="btnShowAddToCartForm" class="btn btn-danger w-100">{% trans "Add to cart" %}</button>
                                    {% endif %}
                                    <form action="{% url 'cart:cart_add_product' product.pk %}" id="addToCartForm" method="post" class="w-100 {% if not is_exist_product_in_cart %}d-none{% endif %}">
                                        {% csrf_token %}
                                        {{ add_to_cart_form.is_replace }}
                                        <div class="d-flex flex-column">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">
                                                    <i style="font-size: 18px; cursor: pointer"
                                                       class="bi bi-plus text-danger fw-bold plus-icon" id="plus-icon-{{ product.pk }}"></i>
                                                </span>
                                                {% if quantity_of_product_in_cart > 0 %}
                                                    <input style="width: 60px" type="number" min="1"
                                                           value="{{ quantity_of_product_in_cart }}"
                                                           class="form-control text-center text-danger fw-bold input-number"
                                                           id="input-number-{{ product.pk }}" name="quantity">
                                                {% else %}
                                                    <input style="width: 60px" type="number" min="1" value="1"
                                                           class="form-control text-center text-danger fw-bold input-number"
                                                           id="input-number-{{ product.pk }}" name="quantity">
                                                {% endif %}
                                                <span class="input-group-text">
                                                    <i style="font-size: 18px; cursor: pointer"
                                                       class="bi bi-dash text-danger fw-bold dash-icon" id="dash-icon-{{ product.pk }}"></i>
                                                </span>
                                            </div>

                                            <button type="submit" class="btn btn-danger">{% trans "Add to cart" %}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mw-100 my-5">{{ product.description|safe }}</div>
                    <div style="max-height: 450px" class="comment-section d-flex my-4">
                        {% if not user.is_authenticated %}
                            <a style="width: 160px; height: 50px"
                               href="{% url 'accounts:login' %}?next={% url 'products:product_detail' product.category.category_name product.pk %}"
                               class="btn btn-outline-danger d-flex justify-content-center align-items-center align-self-end">
                                {% trans "Register comment" %}
                            </a>
                        {% else %}
                            <button style="width: 160px; height: 50px" type="button"
                                    class="btn btn-outline-danger align-self-end"
                                    data-bs-toggle="modal"
                                    data-bs-target="#registerComment">
                                {% trans "Register comment" %}
                            </button>

                            <div class="modal fade" id="registerComment">
                                <div style="max-width: 650px" class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header mx-3 px-0">
                                            <div>
                                                <span class="fs-5 fw-bold">{% trans "Your Comment" %}</span>
                                                <p style="font-size: 14px;" class="my-2">
                                                    {% blocktrans with title=product.title %}About
                                                        {{ title }}{% endblocktrans %}</p>
                                            </div>
                                            <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="card px-4 py-3">
                                                <form action="" method="post" class="comment-form">
                                                    {% csrf_token %}
                                                    <div class="d-flex flex-column mb-3">
                                                        <div class="d-flex align-items-center">
                                                            <span class="required-input">{{ comment_form.star_rating.label }}:</span>
                                                            <div class="d-flex flex-row-reverse align-items-center column-gap-1 wrapper-rating ms-3">
                                                                <input type="radio" id="id_star_rating_4"
                                                                       name="star_rating"
                                                                       value="5"
                                                                       class="opacity-0"
                                                                       {% if comment_form.star_rating.value == 5 %}checked{% endif %}>
                                                                <label for="id_star_rating_4">
                                                                    <i class="bi bi-star"></i>
                                                                </label>
                                                                <input type="radio" id="id_star_rating_3"
                                                                       name="star_rating"
                                                                       value="4"
                                                                       class="opacity-0"
                                                                       {% if comment_form.star_rating.value == 4 %}checked{% endif %}>
                                                                <label for="id_star_rating_3">
                                                                    <i class="bi bi-star"></i>
                                                                </label>
                                                                <input type="radio" id="id_star_rating_2"
                                                                       name="star_rating"
                                                                       value="3"
                                                                       class="opacity-0"
                                                                       {% if comment_form.star_rating.value == 3 %}checked{% endif %}>
                                                                <label for="id_star_rating_2">
                                                                    <i class="bi bi-star"></i>
                                                                </label>
                                                                <input type="radio" id="id_star_rating_1"
                                                                       name="star_rating"
                                                                       value="2"
                                                                       class="opacity-0"
                                                                       {% if comment_form.star_rating.value == 2 %}checked{% endif %}>
                                                                <label for="id_star_rating_1">
                                                                    <i class="bi bi-star"></i>
                                                                </label>
                                                                <input type="radio" id="id_star_rating_0"
                                                                       name="star_rating"
                                                                       value="1"
                                                                       class="opacity-0" required
                                                                       {% if comment_form.star_rating.value == 1 %}checked{% endif %}>
                                                                <label for="id_star_rating_0">
                                                                    <i class="bi bi-star"></i>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        {% for error in comment_form.star_rating.errors %}
                                                            <p class="alert alert-danger mt-2 mb-0">{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="d-flex flex-column mb-3">
                                                        <label class="form-label"
                                                               for="id_title">{{ comment_form.title.label }}:</label>
                                                        {{ comment_form.title }}
                                                        {% for error in comment_form.title.errors %}
                                                            <p class="alert alert-danger mt-2 mb-0">{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="d-flex flex-column mb-3">
                                                        <label class="form-label required-input"
                                                               for="id_text">{{ comment_form.text.label }}:</label>
                                                        {{ comment_form.text }}
                                                        {% for error in comment_form.text.errors %}
                                                            <p class="alert alert-danger mt-2 mb-0">{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="d-flex mb-3">
                                                        {{ comment_form.is_anonymous }}
                                                        <p class="ms-2">{% trans "Register a comment anonymously" %}</p>
                                                        {% for error in comment_form.is_anonymous.errors %}
                                                            <p class="alert alert-danger mt-2 mb-0">{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                    <button name="send_comment" type="submit"
                                                            class="btn btn-danger mt-3">{% trans "Register comment" %}</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="comments-wrapper flex-grow-1 mx-4 overflow-y-scroll">
                            <div class="text-end border-top border-2 pt-2">{{ comments.count }} {% trans "Comment" %}</div>
                            {% if comments.count > 0 %}
                                <div id="comments" class="comments">
                                    {% for comment in page_obj_comment %}
                                        <div class="border-bottom border-2 py-4">
                                            <div class="d-flex">
                                                <span style="width: 30px;height: 25px"
                                                      class="text-light px-1 rounded d-flex justify-content-center align-items-center me-2 {% if comment.star_rating >= 3 %}bg-success{% else %}bg-warning bg-gradient{% endif %}">
                                                    {{ comment.star_rating }}
                                                </span>
                                                <div class="d-flex flex-column">
                                                    {% if comment.title %}
                                                        <span class="fw-bold d-inline-block mb-2">{{ comment.title }}</span>
                                                    {% endif %}
                                                    <p class="mb-3">
                                                        {% if LANGUAGE_CODE == "fa" %}
                                                            <span>{{ comment.modified_datetime|to_jalali:"%Y/%m/%d %H:%M" }}</span>
                                                        {% elif LANGUAGE_CODE == "en" %}
                                                            <span>{{ comment.modified_datetime|date:"Y/m/d H:i" }}</span>
                                                        {% endif %}
                                                        <span>-</span>
                                                        {% if comment.is_anonymous %}
                                                            <span class="ms-1">{% trans "Mixshop user" %}</span>
                                                        {% else %}
                                                            <span class="ms-1">{{ comment.user.email }}</span>
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                            <p class="border-top border-bottom mx-4 py-3">{{ comment.text }}</p>
                                            <div class="wrapper-like-dislike d-flex align-items-center justify-content-end">
                                                <div class="wrapper-like d-flex align-items-center">
                                                    <span class="comment_likes_count">{{ comment.get_total_like }}</span>
                                                    <form action="{% url 'products:product_like_comment' product.category.category_name product.pk comment.pk %}"
                                                          method="post">
                                                        {% csrf_token %}
                                                        {% if not user.is_authenticated %}
                                                            <a href="{% url 'accounts:login' %}?next={{ request.path }}"
                                                               class="btn btn-link text-secondary px-2">
                                                                <i class="bi bi-hand-thumbs-up"></i>
                                                            </a>
                                                        {% else %}
                                                            <button type="submit"
                                                                    class="comment-like-button btn btn-link text-secondary px-2">
                                                                {% if comment|is_user_liked_comment:user %}
                                                                    <i class="bi bi-hand-thumbs-up-fill"></i>
                                                                {% else %}
                                                                    <i class="bi bi-hand-thumbs-up"></i>
                                                                {% endif %}
                                                            </button>
                                                        {% endif %}
                                                    </form>
                                                </div>
                                                <div class="wrapper-dislike d-flex align-items-center ms-2">
                                                    <span class="comment_dislikes_count">{{ comment.get_total_dislike }}</span>
                                                    <form action="{% url 'products:product_dislike_comment' product.category.category_name product.pk comment.pk %}"
                                                          method="post">
                                                        {% csrf_token %}
                                                        {% if not user.is_authenticated %}
                                                            <a href="{% url 'accounts:login' %}?next={{ request.path }}"
                                                               class="btn btn-link text-secondary px-2">
                                                                <i class="bi bi-hand-thumbs-down"></i>
                                                            </a>
                                                        {% else %}
                                                            <button type="submit"
                                                                    class="comment-dislike-button btn btn-link text-secondary px-2">
                                                                {% if comment|is_user_disliked_comment:user %}
                                                                    <i class="bi bi-hand-thumbs-down-fill"></i>
                                                                {% else %}
                                                                    <i class="bi bi-hand-thumbs-down"></i>
                                                                {% endif %}
                                                            </button>
                                                        {% endif %}
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="d-flex justify-content-between align-items-center my-3">
                                    <span class="text-danger">
                                        {% if page_obj_comment.has_previous %}
                                            <a class="text-decoration-none text-danger fw-bold"
                                               href="?page1={{ page_obj_comment.previous_page_number }}#comments">
                                                {% if LANGUAGE_CODE == "fa" %}
                                                    <i class="bi bi-chevron-right"></i>
                                                {% elif LANGUAGE_CODE == "en" %}
                                                    <i class="bi bi-chevron-left"></i>
                                                {% endif %}
                                                {% trans "Before" %}
                                            </a>
                                        {% endif %}
                                    </span>
                                    <ul class="custom-pagination d-flex">
                                        {% for page in range_pages_comment %}
                                            {% if page|is_number %}
                                                <li class="me-2 page">
                                                    <a style="width: 30px;height: 30px"
                                                       href="?page1={{ page }}#comments"
                                                       class="{% if page_obj_comment.number == page %}bg-danger text-light{% else %}text-dark{% endif %} rounded-circle text-decoration-none d-flex justify-content-center align-items-center">{{ page }}</a>
                                                </li>
                                            {% else %}
                                                <li class="me-2">{{ page }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <span class="text-danger">
                                        {% if page_obj_comment.has_next %}
                                            <a class="text-decoration-none text-danger fw-bold"
                                               href="?page1={{ page_obj_comment.next_page_number }}#comments">
                                                {% trans "After" %}
                                                {% if LANGUAGE_CODE == "fa" %}
                                                    <i class="bi bi-chevron-left"></i>
                                                {% elif LANGUAGE_CODE == "en" %}
                                                    <i class="bi bi-chevron-right"></i>
                                                {% endif %}
                                            </a>
                                        {% endif %}
                                    </span>
                                </div>
                            {% else %}
                                <p class="fw-bold">{% trans "You can also comment on this product." %}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div style="max-height: 450px" class="question-section d-flex my-5">
                        {% if not user.is_authenticated %}
                            <a style="width: 160px; height: 50px"
                               href="{% url 'accounts:login' %}?next={% url 'products:product_detail' product.category.category_name product.pk %}"
                               class="btn btn-outline-danger d-flex justify-content-center align-items-center align-self-end">
                                {% trans "Register question" %}
                            </a>
                        {% else %}
                            <button style="width: 160px; height: 50px" type="button"
                                    class="btn btn-outline-danger align-self-end"
                                    data-bs-toggle="modal"
                                    data-bs-target="#registerQuestion">
                                {% trans "Register question" %}
                            </button>

                            <div class="modal fade" id="registerQuestion">
                                <div style="max-width: 650px" class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header mx-3 px-0">
                                            <p class="fw-bold">{% trans "Register your question about this product" %}</p>
                                            <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="px-4 py-3">
                                                <form action=""
                                                      method="post" class="question-form">
                                                    {% csrf_token %}
                                                    <div class="d-flex flex-column mb-3">
                                                        <textarea name="text" cols="40" rows="10" class="form-control"
                                                                  maxlength="100" required=""
                                                                  id="id_text_question"></textarea>
                                                        {% for error in question_form.text.errors %}
                                                            <p class="alert alert-danger mt-2 mb-0">{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="d-flex justify-content-end">
                                                        <span id="length_text_question">100/0</span>
                                                    </div>
                                                    <button name="send_question" type="submit"
                                                            class="btn btn-danger mt-3" id="question_button"
                                                            disabled>{% trans "Register question" %}</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="questions-wrapper flex-grow-1 mx-4 overflow-y-scroll">
                            {% if questions.count > 0 %}
                                <div id="questions" class="questions">
                                    {% for question in page_obj_question %}
                                        <div class="border-bottom border-2 mb-4">
                                            <div class="d-flex align-items-center fw-bold mb-4">
                                                <i class="bi bi-question-square text-info fs-4"></i>
                                                <p style="font-size: 18px" class="ms-3 flex-grow-1">
                                                    {{ question.text }}
                                                </p>
                                            </div>
                                            <div class="wrapper-answer my-3">
                                                {% for answer in question.answers.all %}
                                                    <div class="answer d-flex align-items-center py-3 {% if not forloop.last %}border-bottom border-1{% endif %}">
                                                        <span style="font-size: 14px">{% trans "Answer" %}</span>
                                                        <div class="ms-3 flex-grow-1">
                                                            <p>{{ answer.text }}</p>
                                                            <span style="font-size: 14px"
                                                                  class="d-inline-block mt-2">{{ answer.user.email }}</span>
                                                        </div>
                                                        <div class="wrapper-like-dislike d-flex align-items-center justify-content-end align-self-end">
                                                            <div class="wrapper-like d-flex align-items-center">
                                                                <span class="comment_likes_count">{{ answer.get_total_like }}</span>
                                                                <form action="{% url 'products:product_like_answer' product.category.category_name product.pk answer.pk %}"
                                                                      method="post">
                                                                    {% csrf_token %}
                                                                    {% if not user.is_authenticated %}
                                                                        <a href="{% url 'accounts:login' %}?next={{ request.path }}"
                                                                           class="btn btn-link text-secondary px-2">
                                                                            <i class="bi bi-hand-thumbs-up"></i>
                                                                        </a>
                                                                    {% else %}
                                                                        <button type="submit"
                                                                                class="answer-like-button btn btn-link text-secondary px-2">
                                                                            {% if answer|is_user_liked_answer:user %}
                                                                                <i class="bi bi-hand-thumbs-up-fill"></i>
                                                                            {% else %}
                                                                                <i class="bi bi-hand-thumbs-up"></i>
                                                                            {% endif %}
                                                                        </button>
                                                                    {% endif %}
                                                                </form>
                                                            </div>
                                                            <div class="wrapper-dislike d-flex align-items-center ms-2">
                                                                <span class="comment_dislikes_count">{{ answer.get_total_dislike }}</span>
                                                                <form action="{% url 'products:product_dislike_answer' product.category.category_name product.pk answer.pk %}"
                                                                      method="post">
                                                                    {% csrf_token %}
                                                                    {% if not user.is_authenticated %}
                                                                        <a href="{% url 'accounts:login' %}?next={{ request.path }}"
                                                                           class="btn btn-link text-secondary px-2">
                                                                            <i class="bi bi-hand-thumbs-down"></i>
                                                                        </a>
                                                                    {% else %}
                                                                        <button type="submit"
                                                                                class="answer-dislike-button btn btn-link text-secondary px-2">
                                                                            {% if answer|is_user_disliked_answer:user %}
                                                                                <i class="bi bi-hand-thumbs-down-fill"></i>
                                                                            {% else %}
                                                                                <i class="bi bi-hand-thumbs-down"></i>
                                                                            {% endif %}
                                                                        </button>
                                                                    {% endif %}
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="ms-3 border-top border-1 py-4">
                                                <button style="width: 160px; height: 50px" type="button"
                                                        class="btn btn-link text-decoration-none p-0"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#registerAnswer">
                                                    <span>{% trans "Register a new answer" %}</span>
                                                    {% if LANGUAGE_CODE == "fa" %}
                                                        <i class="bi bi-chevron-left"></i>
                                                    {% elif LANGUAGE_CODE == "en" %}
                                                        <i class="bi bi-chevron-right"></i>
                                                    {% endif %}
                                                </button>
                                            </div>

                                            <div class="modal fade" id="registerAnswer">
                                                <div style="max-width: 650px"
                                                     class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header mx-3 px-0">
                                                            <p class="fw-bold">{% trans "Answer this question" %}</p>
                                                            <button type="button" class="btn-close shadow-none"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body pt-0 pb-4">
                                                            <div class="px-4">
                                                                <p class="my-4">{{ question.text }}</p>
                                                                <form action="" method="post" class="answer-form">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" name="id_question"
                                                                           value="{{ question.id }}">
                                                                    <div class="d-flex flex-column mb-3">
                                                                    <textarea name="text" cols="40" rows="10"
                                                                              class="form-control" maxlength="100"
                                                                              required=""
                                                                              id="id_text_answer"></textarea>
                                                                        {% for error in answer_form.text.errors %}
                                                                            <p class="alert alert-danger mt-2 mb-0">{{ error }}</p>
                                                                        {% endfor %}
                                                                    </div>
                                                                    <div class="d-flex justify-content-end">
                                                                        <span id="length_text_answer">500/0</span>
                                                                    </div>
                                                                    <button name="send_answer" type="submit"
                                                                            class="btn btn-danger mt-3"
                                                                            id="answer_button"
                                                                            disabled>{% trans "Register answer" %}</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="d-flex justify-content-between align-items-center my-3">
                                <span class="text-danger">
                                    {% if page_obj_question.has_previous %}
                                        <a class="text-decoration-none text-danger fw-bold"
                                           href="?page2={{ page_obj_question.previous_page_number }}#questions">
                                            {% if LANGUAGE_CODE == "fa" %}
                                                <i class="bi bi-chevron-right"></i>
                                            {% elif LANGUAGE_CODE == "en" %}
                                                <i class="bi bi-chevron-left"></i>
                                            {% endif %}
                                            {% trans "Before" %}
                                        </a>
                                    {% endif %}
                                </span>
                                    <ul class="custom-pagination d-flex">
                                        {% for page in range_pages_question %}
                                            {% if page|is_number %}
                                                <li class="me-2 page">
                                                    <a style="width: 30px;height: 30px"
                                                       href="?page2={{ page }}#questions"
                                                       class="{% if page_obj_question.number == page %}bg-danger text-light{% else %}text-dark{% endif %} rounded-circle text-decoration-none d-flex justify-content-center align-items-center">{{ page }}</a>
                                                </li>
                                            {% else %}
                                                <li class="me-2">{{ page }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <span class="text-danger">
                                    {% if page_obj_question.has_next %}
                                        <a class="text-decoration-none text-danger fw-bold"
                                           href="?page2={{ page_obj_question.next_page_number }}#questions">
                                            {% trans "After" %}
                                            {% if LANGUAGE_CODE == "fa" %}
                                                <i class="bi bi-chevron-left"></i>
                                            {% elif LANGUAGE_CODE == "en" %}
                                                <i class="bi bi-chevron-right"></i>
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                </span>
                                </div>
                            {% else %}
                                <p class="fw-bold">{% trans "You can also question on this product." %}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/products/main.js' %}"></script>
    <script src="{% static 'js/cart/main.js' %}"></script>
{% endblock page_content %}
