{% extends "_base.html" %}

{% load i18n %}
{% load price_conversion_tags %}
{% load humanize %}
{% load products_tags %}
{% get_current_language as LANGUAGE_CODE %}


{% block page_title %}{% trans title %}{% endblock page_title %}

{% block page_content %}
    <div>
        <div class="container">
            <div class="row">
                {% for message in messages %}
                    <p class="alert alert-{{ message.tags }}">{{ message }}</p>
                {% endfor %}

            {% if products %}
                    {% for product in page_obj %}
                        <div class="col-12 col-md-4 my-3">
                            <div class="card p-3 h-100">
                                <a href="{{ product.get_absolute_url }}" class="d-flex justify-content-center">
                                    <figure style="width: 240px;height: 240px">
                                        <img class="w-100 h-100 d-block object-fit-cover" src="{{ product.images.all.0.image.url }}"
                                             alt="">
                                    </figure>
                                </a>
                                <a href="{{ product.get_absolute_url }}"
                                   class="d-flex text-center text-decoration-none flex-grow-1 my-3">{{ product.title }}
                                </a>
                                <span style="font-size: 17px" class="d-flex justify-content-end fw-bold">
                                    {% if LANGUAGE_CODE == "en" %}
                                        {% trans "$" %}{{ product.price|convert_price_to_dollar|intword }}
                                    {% elif LANGUAGE_CODE == "fa" %}
                                        {{ product.price|convert_english_number_to_persian|intcomma:False }}
                                        {% trans "$" %}
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                <div class="d-flex justify-content-between align-items-center my-3">
                                        <span class="text-danger">
                                            {% if page_obj.has_previous %}
                                                <a class="text-decoration-none text-danger fw-bold"
                                                   href="?page={{ page_obj.previous_page_number }}{% if 'query_name' in request.session and request.session.query_name is not None %}&q={{ request.session.query_name }}{% endif %}">
                                                    {% if LANGUAGE_CODE == "fa" %}
                                                        <i class="bi bi-chevron-right"></i>
                                                    {% elif LANGUAGE_CODE == "en" %}
                                                        <i class="bi bi-chevron-left"></i>
                                                    {% endif %}
                                                    {% trans "Before" %}
                                                </a>
                                            {% endif %}
                                        </span>
                                        <ul class="custom-pagination d-flex">
                                            {% for page in range_pages %}
                                                {% if page|is_number %}
                                                    <li class="me-2 page">
                                                        <a style="width: 30px;height: 30px"
                                                           href="?page={{ page }}{% if 'query_name' in request.session and request.session.query_name is not None_ %}&q={{ request.session.query_name }}{% endif %}"
                                                           class="{% if page_obj.number == page %}bg-danger text-light{% else %}text-dark{% endif %} rounded-circle text-decoration-none d-flex justify-content-center align-items-center">{{ page }}</a>
                                                    </li>
                                                {% else %}
                                                    <li class="me-2">{{ page }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                        <span class="text-danger">
                                        {% if page_obj.has_next %}
                                            <a class="text-decoration-none text-danger fw-bold"
                                               href="?page={{ page_obj.next_page_number }}{% if 'query_name' in request.session and request.session.query_name is not None %}&q={{ request.session.query_name }}{% endif %}">
                                                {% trans "After" %}
                                                {% if LANGUAGE_CODE == "fa" %}
                                                    <i class="bi bi-chevron-left"></i>
                                                {% elif LANGUAGE_CODE == "en" %}
                                                    <i class="bi bi-chevron-right"></i>
                                                {% endif %}
                                            </a>
                                        {% endif %}
                                    </span>
                                    </div>
                {% else %}
                    <p class="alert alert-info">{% trans "There aren't any product." %}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock page_content %}
