{% load i18n %}
{% load products_tags %}

<ul class="dropdown-menu dropdown-submenu">
    {% for category in category.sub_categories.all %}
        {% trans category.category_name as category_name %}
        <li>
            {% if category.sub_categories.all %}
                <a class="dropdown-item"
                   href="{% url 'products:product_category' category.category_name %}">{{ category_name|replace_dash_with_space_category_name }} &raquo</a>
                {% include "products/sub_categories.html" with category=category %}
            {% else %}
                <a class="dropdown-item"
                   href="{% url 'products:product_sub_category_list' category.category_name %}">{{ category_name|replace_dash_with_space_category_name }}</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>

